<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${time} ${level} ${message}">

      <highlight-row condition="contains('${scopeproperty:Color}', 'Blue')" foregroundColor="Blue" />
      <highlight-row condition="contains('${scopeproperty:Color}', 'Red')" foregroundColor="Red" />

      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />

    </target>
    
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="System.Net.Http.HttpClient*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>