<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${longdate} ${level} ${message}">
      <highlight-row condition="contains('${scopeproperty:Color}', 'Red')" foregroundColor="Red" />
      <highlight-row condition="contains('${scopeproperty:Color}', 'Blue')" foregroundColor="Blue" />
    </target>
    
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>